html {
    background-color: #f1f1f1;
    padding-bottom: 50px;
}
body {
    font-family:  Arial, sans-serif;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 50px;
}

img {
    vertical-align: middle;
}
p {
    font-size: 16px;
    font-weight: bold;
    color: #C3C3C3;
}

ul li {
    list-style-type: none;
    background-color: rgba(118,117,128,0.05);
    width: auto;
    padding: 10px;
    font-size: 13px;
    color: #C3C3C3;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 5px;
}
ul {
    padding: 0;
}

.main-block {
    width: 33%;
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
    padding-right: 50px;

}
.search {
    width: auto;
    height: 100px;
    background-color: #f1f1f1;
    font-size: 80px;
    border: none;
    font-weight: bold;
    color: #ec5a62;
}

input::-webkit-input-placeholder {
    color: #C2C2C2;
}
.rad {
    border-radius: 50%;
}
a:hover {
    color:  #ec5a62;
}
a {
    text-decoration: none;
    color: #C2C2C2;
}
li:hover {
   background-color: rgba(118,117,128,0.1);
}